.headerContainer {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: darkblue;
    color: white;
    justify-content: space-between;
}

.mainContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.filterContainer {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.filterHeader {
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    color: blue;
    margin-top: 30px;
}

.filterListContainer {
    margin-top: 10px;
    display: inline-flex;
    width: 100%;
}

#embedding-dossier-container {
    width: 100%;
}

.btn-primary {
    margin: 10px;
    padding: 5px 10px;
    width: 150px;
}

.filterControlList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.filterListRow {
    padding: 10px 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 260px;
}

.filterName {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
    width: 80%;
}

.rowFilterControl {
    display: flex;
    gap: 10px;
    font-size: 12px;
    margin-top: -5px;
}

.filterRowHeader {
    display: flex;
    justify-content: space-between;
}

.basic-button {
    border-radius: 10px;
}

.filterControlLinks {
    margin: 5px;
}

.filterlinks {
    margin-left: 25px;
    margin-top: -25px;
}

.btn {
    width: 98px;
    background-color: black;
    color: white;
}

.panel {
    display: none;
}

.filterControlLink {
    margin-top: -7px;
}

.btn {
    height: 40px;
}

.clearall-btn {
    margin-top: 20px;
}

.subtab {
    margin: 2.5px;
    height: 50px;
    min-width: fit-content;
    border: 0px;
}

.tab-btn {
    display: flex;
    justify-content: flex-end;
    font-size: small;
}

h3 {
    position: absolute;
    left: 5
}

.filterswitch-btn {
    position: absolute;
    right: 0
}

.btn-link {
    text-decoration: none
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.task-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 400px;
}

.formPopup {
    display: none;
    position: fixed;
    left: 81%;
    top: 5.8%;
    border: 3px solid #999999;
    z-index: 9;
}

.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}