/* Show Filters horizontally */

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: darkblue;
    color: white;
}

.mainContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.filterContainer {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.filterHeader {
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    color: blue;
    margin-top: 30px;
}

.filterListContainer {
    margin-top: 10px;
    display: inline-flex;
    width: 100%;
}

#embedding-dossier-container {
    width: 100%;
}

.btn-primary {
    margin: 10px;
    padding: 5px 10px;
    width: 150px;
}

.filterControlList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.filterListRow {
    padding: 10px 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 260px;
}

.filterName {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
    width: 80%;
}

.rowFilterControl {
    display: flex;
    gap: 10px;
    font-size: 12px;
    margin-top: -5px;
}

.filterRowHeader {
    display: flex;
    justify-content: space-between;
}

.basic-button {
    border-radius: 10px;
}

.filterControlLinks {
    margin: 5px;
}

.filterlinks {
    margin-left: 25px;
    margin-top: -25px;
}

.btn {
    width: 98px;
    background-color: black;
    color: white;
}

.panel {
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkblue;
    color: #fff;
    border-radius: 0.25rem;
    border-color: #0d6efd;
}

.filterControlLink {
    margin-top: -7px;
}

.btn {
    height: 40px;
}

.clearall-btn {
    margin-top: 20px;
}

.subtab {
    margin: 2.5px;
    height: 50px;
    min-width: fit-content;
    border: 0px;
    /* font-weight: bold; */
    /* background-color: aqua; */
}

.tab-btn {
    display: flex;
    justify-content: flex-end;
    font-size: small;
}


/* Show Filters Vertically */


/* .headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: blue;
    color: white;
} */

.mainContainerhrz {
    display: flex;
    width: 100%;
}

.filterContainerhrz {
    width: 20%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
}

.filterHeaderhrz {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: beige;
    font-weight: bold;
    font-size: 25px;
    color: blue;
}

.filterListContainerhrz {
    margin-top: 10px;
}

#embedding-dossier-containerhrz {
    width: 80%;
}

.filterControl input.hrz {
    margin: 2px;
    padding: 2px 2px;
    background-color: #38859f;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.filterControlListhrz {
    display: flex;
    justify-content: center;
}

.filterRowHeaderhrz {
    display: flex;
    justify-content: space-between;
}

.filterListRowhrz {
    padding: 10px 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

.filterNamehrz {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
}

.rowFilterControlhrz {
    display: flex;
    gap: 5px;
}

.selectandclearbuttonshrz {
    display: flex;
    flex-direction: column;
}

.basic-button.hrz {
    border-radius: 7px;
    height: 50px;
    width: 150px;
}

.filterControlLinkshrz {
    /* margin: 10px;
    padding: 10px; */
    display: flex;
    margin-top: -5px;
    margin-left: 10px;
    /* margin-left: -20px; */
    margin: 5px;
}

.filterControlhrz {
    display: flex;
}

.btn.hrz {
    width: 150px;
    height: 50px;
    margin-top: 15px;
}

.filterswitch-btn.hrz {
    position: relative;
    left: 35.5%;
}

h3 {
    position: absolute;
    left: 5
}

.filterswitch-btn {
    position: absolute;
    right: 0
}

.btn-link {
    text-decoration: none
}