.home-page-team-tab {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
}

.home-btn {
    margin: 0px 2px 1px 2px;
    border: none;
    background-color: white;
}

.dash-lib {
    margin: 0px 2px 1px 2px;
    border: none;
    background-color: white;
}

.fav-dash {
    margin: 0px 2px 1px 2px;
    border: none;
    background-color: white;
}

.config {
    margin: 0px 2px 1px 2px;
    border: none;
    background-color: white;
}

button:hover,
button:focus {
    outline: none;
}

.library-list {
    display: none;
}

#libraryDropdown_chosen {
    margin-left: 5px;
    margin-right: 10px;
}

.libraryapply-btn {
    height: 30px;
    border-radius: 10px;
    margin-right: 5px;
}

.config-drop-appy {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 15px;
}

.createfavouritebtn,
.removefavouritebtn {
    height: 30px;
    margin-right: 5px;
    border-radius: 6px;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

ul.tab li {
    float: left;
}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {
    background-color: #ddd;
}

.active {
    background-color: #ccc;
}

.activedash {
    background-color: #e8f5ff;
    border-bottom: 4px solid #1D96DD;
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav-btn {
    cursor: pointer;
    border: none;
    height: 47px;
    width: 150px;
}

.filterIcon {
    display: none;
}

.filterpanelFilterIcon {
    height: 40px;
    width: 40px;
    margin-left: -8px;
    margin-top: -17px;
}